button{
    display: block;
    padding: 12px 24px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 10px;
}